

 <!-- Content -->
 <main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %></h1>
    <% if (title == 'Home') {%>
      <p><%= missionStatement %></p>
      <form action="projects">
          <input type="submit" value="Click Me!" />
      </form>
    <%} %>
    <% if (title == 'About') {%>
      <h1> Naveed Danish </h1>
      <img src="/images/danish.jpg" alt="Danish">
      <p>Hello, I am a third semester student in centennial collage. I am married and I have 2 kids. Both are boys, one is seven years old and other one is 1 year old.</p>
      <p> I am originally from Pakistan and moved here seven years ago.</p>
      <p>An absolute URL: <a href="/documents/Naveed_Danish_Resume.pdf" target="_blank">Resume</a></p>
    <%} %>
    <% if (title == 'Projects') {%>
      <h1> Projects </h1>
      <p><b>project one description</b></p>
      <img src="/images/Project1.JPG" alt="Danish">
      <p><b>project two description</b></p>
      <img src="/images/Project2.JPG" alt="Danish">
      <p><b>project three description</b></p>
      <img src="/images/Project3.JPG" alt="Danish">
      
      <%} %>
      <% if (title == 'Services') {%>
        <h2> We provide following services </h2>
        <img src="/images/pic1.jpg" alt="Danish">
        <img src="/images/pic2.png" alt="Danish">
        <img src="/images/pic3.png" alt="Danish">
      <%} %>            
  </div>
</main>
