<!-- Main Footer -->
    <p>&copy;Author: Naveed Danish</p>
    <p><a href="mailto:ndanish1@mycentennialcollege.ca">ndanish1@mycentennialcollege.ca</a></p>
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>