<% include partials/header.ejs %>

  <!-- Content -->
  <h1><%= title %></h1>
  <p>Welcome to <%= title %> page <%= userName %></p>
  <p>User: <%= userName %></p>

<% include partials/footer.ejs %>
  